<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title><%= title %></title>
		<style><%= css %></style>

	</head>
	<body class="log-body">
		<h1>SAFE Network</h1>
		<h4 class="desc"><span>Privacy</span><span>Security</span><span>Freedom</span></h4>
    <%if ( typeof title !== 'undefined' ) { %>
      <h2><%= title %></h2>
    <% } %>
    <%if ( typeof body !== 'undefined' ) { %>
      <article><%= body %></article>
    <% } %>
	</body>
</html>
